@charset "UTF-8";

.active {
    font-weight: bolder;
    text-decoration: underline;
}

.nav-link {
    color: white;
}

/* Estilos dos Cards Sociais */
.card-contato {
    height: 260px;
    width: 300px;
    cursor: pointer;
    transition: 0.3s;
}

.card-contato .card-wrapper::before {
    content: '';
    position: absolute;
    height: 260px;
    width: 300px;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-contato:hover > .card-wrapper::before {
    top: 50%;
    left: 50%;
    height: 240px;
    width: 270px;
    opacity: 1;   
}

.card-facebook {
    background: url('../images/facebook-card-menor.jpeg') no-repeat center;
}

.card-instagram {
    background: url('../images/instagram-card-menor.png') no-repeat center;
}

.card-twitter {
    background: url('../images/twitter-card-menor.png') no-repeat center;
}

.footer-contato {
    padding-top: 18px;
    padding-bottom: 18px;
}

.header-principal {
    background-color: #13293D;
}

